@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

/* @import url("http://fonts.cdnfonts.com/css/gilroy-regular"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer base {
    :root {
        --color-primary: 255, 255, 255;
        --color-secondary: 77, 94, 128;
        --color-success: 41, 204, 57;
        --color-error: 230, 46, 46;
        --color-main: 247, 248, 250;
        --color-side: 192, 202, 217;
        
    }

    :root[data-mode="dark"] {
        --color-primary: 219, 192, 203;
        --color-secondary: 224, 224, 224;
        --color-success: 0, 200, 81;
        --color-error: 254, 78, 78;
        --color-main: 26, 32, 44;
        --color-side: 255, 255, 255;
    }
}

body {
    background-color: rgb(var(--color-main));
    font-style: normal;
    font-weight: 700;
}

